@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
.outer {
  height: calc(100dvh - $nav-link-height - 2 * $navbar-padding-y);
  position: relative;
}

.truncateText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
